name: Build TollGate OS

on:
  workflow_dispatch:
    inputs:
      device_id:
        description: 'Router model'
        required: true
        default: 'glinet_gl-mt6000'
        type: choice
        options:
        - glinet_gl-mt6000
      openwrt_version:
        description: 'OpenWrt version'
        required: true
        default: '24.10.1'
        type: string
      release_channel:
        description: 'Release channel'
        required: true
        default: 'stable'
        type: choice
        options:
        - stable
        - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Firmware
      uses: ./actions/build-os
      with:
        device_id: ${{ inputs.device_id }}
        openwrt_version: ${{ inputs.openwrt_version }}
        tollgate_os_version: v0.0.1
        release_channel: ${{ inputs.release_channel }}
        nostr_secret_key: ${{ secrets.NOSTR_SECRET_KEY }}
        nostr_public_key: ${{ secrets.NOSTR_PUBLIC_KEY }}
        nsec: ${{ secrets.NSEC }}
        nsecbech: ${{ secrets.NSEC_BECH32 }}
